.grid.landingpage {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 19em) repeat(7, 17em) 4.3em;
  width: 100%;
  overflow-x: hidden;
}

.img.one {
  grid-column: 6 / 9;
  grid-row: 1 / 4;
  background: #e7717d;
  background: url('../../images/fire-nation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.img.two {
  grid-column: 1 / 6;
  grid-row: 4 / 7;
  background: #e7717d;
  background: url('../../images/floating.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}

.img.three {
  grid-column: 4 / 9;
  grid-row: 7 / 9;
  background: #e7717d;
  background: url('../../images/wahmenRespec.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.img.four {
  grid-column: 1 / 5;
  grid-row: 9 / 11;
  background: #e7717d;
  background: url('../../images/artsyCam.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
}

.container.one.wrapper {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  margin-top: -10%;
}

.header.container.one {
  margin-top: -10%;
}

.header.container.one h1 {
  color: #e7717d;
  text-decoration: underline;
  font-size: 6rem;
}

.header.one.content {
  margin-top: 2em;
  overflow: hidden;
}

.header.container.two {
  grid-column: 5 / 8;
  grid-row: 4 / 5;
  align-self: center;
}

.header.two.content {
  grid-column: 7 / 10;
  grid-row: 5 / 6;
  padding-right: 2em;
  overflow: hidden;
}

.header.container.three {
  grid-column: 3 / 5;
  grid-row: 7 / 8;
  justify-self: flex-end;
  margin-top: 2em;
  margin-right: 3.9em;
}

.header.three.content {
  grid-column: 1 / 3;
  grid-row: 7 / 9;
  align-self: center;
  padding-left: 5em;
  overflow: hidden;
}

.header.container.four {
  grid-column: 4 / 7;
  grid-row: 10 / 11;
  margin-left: 1.5em;
}

.header.four.content {
  grid-column: 6/10;
  grid-row: 9 / 10;
  overflow: hidden;
  align-self: center;
}

.header.container.two h1 {
  color: #e7717d;
  text-decoration: underline;
  font-size: 6rem;
}

.header.container.two h2 {
  margin-left: 60%;
}

.header.container.three h1 {
  color: #e7717d;
  text-decoration: underline;
  font-size: 6rem;
}

.header.container.three h2 {
  margin-right: 30%;
}

.header.container.four h1 {
  color: #e7717d;
  text-decoration: underline;
  font-size: 6rem;
}

.header.container.four h2 {
  margin-left: 20%;
}