.sidebar {
	width: 13em;
	height: 100%;
	position: fixed;
}

.sidebar p {
  font-size: 1.5rem;
  margin: 1.5em 1em;
}

.sidebar ul {
	padding: 0 1.5em;
	list-style: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.sidebar li {
  padding: 0.75em 0;
}

.sidebar li .main-link {
  font-weight: 700;
}

.sidebar a {
  padding-bottom: .2em;
	text-decoration: none;
  color: black;
  position: relative;
}

.sidebar ul a:after {
	content: '';
  position: absolute;
  overflow: hidden;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #252525;
	-webkit-transition: width 0.2s ease-out;
	transition: width 0.3s ease-out;
}

.sidebar ul a:hover:after {
  width: 100%;
}

.sidebar ul a:focus {
  color: #e7717d;
}

.sidebar.contact{
  top: 93%;
	background-color: #e7717d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 7%;
}

.sidebar.contact h3{
  padding: 45px;
}